<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="blobStorageConnection" value="DefaultEndpointsProtocol=https;AccountName=stservereless;AccountKey=TH25Z6r2Syx94jGobAVbzoLl/RwvqzP90cSDoErK3jv4Dble68qBGPSQT7RRYe/fKCA6s224kOvWKbUPR9Y2SA==;EndpointSuffix=core.windows.net" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>